name: Dependabot auto-merge

on: pull_request

jobs:
  dependabot-automerge:
    uses: draytechnologies/.github/.github/workflows/dependabot-automerge.yml@main
    with:
      update-types: 'patch,minor'

